
#
*.a
*.app
# Binaries for programs and plugins
*.cmd
# Compiled Dynamic libraries
# Compiled Object files
# Compiled Static libraries
*.d
# Debug files
# Dependency directories (remove the comment below to include it)
dkms.conf
*.dll
*.dSYM/
*.dylib
*.elf
*.exe
*.exe~
# Executables
*.exp
# Fortran module files
*.gch
# go.work
# Go workspace file
*.hex
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
*.i*86
*.idb
# If you prefer the allow list template instead of the deny list, see community template:
*.ilk
# Kernel Module Compile Results
*.ko
*.la
*.lai
*.lib
# Libraries
# Linker output
*.lo
*.map
Mkfile.old
modules.order
Module.symvers
*.o
*.obj
# Object files
*.out
# Output of the go coverage tool, specifically when used with LiteIDE
*.pch
*.pdb
# Precompiled Headers
# Prerequisites
# Shared objects (inc. Windows DLLs)
*.slo
*.smod
*.so
*.so.*
*.su
*.test
# Test binary, built with `go test -c`
.tmp_versions/
# vendor/
*.x86_64
.aider*
